<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <form action="/login/login" method="post">
        <input type="text" name="username" />
        <input type="password" name="password" />
        <input type="submit" value="账号登录" />
    </form>
    <form action="/login/login2" method="post">
        <input type="text" name="mobile" />
        <input type="password" name="password" />
        <input type="submit" value="手机登录" />
    </form>
</body>
</html>